opsubRpc/xsd/Subtiel.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cmd="http://www.clarin.eu/cmd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcr="http://www.isocat.org/ns/dcr" xmlns:ann="http://www.clarin.eu" targetNamespace="http://www.clarin.eu/cmd/" elementFormDefault="qualified">
<xs:annotation>
    <xs:appinfo>
        <ann:Header>
            <ann:ID>clarin.eu:cr1:p_1454489235458</ann:ID>
            <ann:Name>SUBTIEL</ann:Name>
            <ann:Description>All required information to identify and categorize a particular subtitle for a particular movie/episode</ann:Description>
        </ann:Header>
    </xs:appinfo>
</xs:annotation>
<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
<xs:simpleType name="Resourcetype_simple">
    <xs:restriction base="xs:string">
        <xs:enumeration value="Metadata">
            <xs:annotation>
                <xs:documentation>The ResourceProxy refers to another component metadata
                                            instance (e.g. for grouping metadata descriptions into
                                            collections)</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Resource">
            <xs:annotation>
                <xs:documentation>The ResourceProxy refers to a file that is not a metadata
                                            instance (e.g. a text document)</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="SearchService">
            <xs:annotation>
                <xs:documentation>The ResourceProxy refers to a (SRU/CQL) web service that can be used to query the resource described in this file</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="SearchPage">
            <xs:annotation>
                <xs:documentation>The ResourceProxy refers to a web page that can be used to query the resource described in this file</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="LandingPage">
            <xs:annotation>
                <xs:documentation>The ResourceProxy refers to a web page that contains the "original context" of the resource described in this file (e.g. repository web page displaying the metadata).</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
    </xs:restriction>
</xs:simpleType>
<xs:element name="CMD">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Header">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MdCreator" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="MdCreationDate" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:date">
                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="MdSelfLink" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:anyURI">
                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="MdProfile" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:anyURI">
                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="MdCollectionDisplayName" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Resources">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResourceProxyList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceProxy">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="1" minOccurs="1" name="ResourceType">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="cmd:Resourcetype_simple">
                                                                <xs:attribute name="mimetype" type="xs:string"/>
                                                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element maxOccurs="1" minOccurs="1" name="ResourceRef">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:anyURI">
                                                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="id" type="xs:ID" use="required"/>
                                            <xs:anyAttribute namespace="##other" processContents="lax"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="JournalFileProxyList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="JournalFileProxy">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="1" minOccurs="1" name="JournalFileRef">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:anyURI">
                                                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:anyAttribute namespace="##other" processContents="lax"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ResourceRelationList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRelation">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="1" minOccurs="1" name="RelationType">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element maxOccurs="1" minOccurs="1" name="Res1">
                                                    <xs:complexType>
                                                        <xs:attribute name="ref" type="xs:IDREF"/>
                                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element maxOccurs="1" minOccurs="1" name="Res2">
                                                    <xs:complexType>
                                                        <xs:attribute name="ref" type="xs:IDREF"/>
                                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:anyAttribute namespace="##other" processContents="lax"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="IsPartOfList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="IsPartOf">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:anyURI">
                                                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Components">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SUBTIEL" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Movie" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="MovieId" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="The identifier used by opensubtitles.org (?)"/>
                                                <xs:element name="Name" dcr:datcat="http://hdl.handle.net/11459/CCR_C-6850_88e029a4-bc0a-8476-e3a4-e8db1e2acc64" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="The name (=title) of the movie (original name)" ann:displaypriority="1"/>
                                                <xs:element name="Year" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5774_1b974a7d-8f1f-15b6-02d3-8351e0127dee" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Year when movie was 'published'" ann:displaypriority="1"/>
                                                <xs:element name="ImdbId" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Unique IMDB identifier"/>
                                                <xs:element name="Kind" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Kind: movie, episode"/>
                                                <xs:element name="Runtime" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Total time for this movie/episode"/>
                                                <xs:element name="Series" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Season" type="xs:string" minOccurs="0" maxOccurs="1" ann:documentation="Which season is this series (optional)"/>
                                                            <xs:element name="Episode" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Which episode is this series?" ann:displaypriority="1"/>
                                                            <xs:element name="ParentImdbId" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="The imdbid of the overall series information"/>
                                                        </xs:sequence>
                                                        <xs:attribute name="ref" type="xs:IDREFS"/>
                                                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1454489235454"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="LanguageList" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Language" minOccurs="1" maxOccurs="unbounded" ann:documentation="One of the languages" ann:displaypriority="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute name="LanguageId" type="xs:string"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="ref" type="xs:IDREFS"/>
                                                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1455633534549"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="CountryList" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Country" minOccurs="1" maxOccurs="unbounded" ann:documentation="One country" ann:displaypriority="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute name="CountryId" type="xs:string"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="ref" type="xs:IDREFS"/>
                                                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1455633534550"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="GenreList" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Genre" minOccurs="1" maxOccurs="unbounded" ann:documentation="One genre" ann:displaypriority="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute name="GenreId" type="xs:string"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="ref" type="xs:IDREFS"/>
                                                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1455633534551"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="ref" type="xs:IDREFS"/>
                                            <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1454489235456"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Release" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" dcr:datcat="http://hdl.handle.net/11459/CCR_C-6850_88e029a4-bc0a-8476-e3a4-e8db1e2acc64" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Name (title) of the movie in this release" ann:displaypriority="1"/>
                                                <xs:element name="countryCode" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2092_36cd7ca8-e412-9f29-7ea7-4a3ba4ba2c91" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Country where this movie has been released (main country)"/>
                                            </xs:sequence>
                                            <xs:attribute name="ref" type="xs:IDREFS"/>
                                            <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1454489235455"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Subtitle" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SubtitleId" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="The unique identifier of this subtitling"/>
                                                <xs:element name="languageCode" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2008_d94b9722-58a3-2f6b-4326-810481083441" type="xs:string" minOccurs="1" maxOccurs="1" ann:displaypriority="1"/>
                                                <xs:element name="targetCountry" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2092_36cd7ca8-e412-9f29-7ea7-4a3ba4ba2c91" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                <xs:element name="Date" dcr:datcat="http://hdl.handle.net/11459/CCR_C-6123_009f84ce-e47e-5513-f387-b3502897abae" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="Date of publication of this subtitling"/>
                                                <xs:element name="textHash" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="MD5 hash code of the *text* of the subtitles"/>
                                                <xs:element name="StatusInfo" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Similar" minOccurs="0" maxOccurs="unbounded" ann:documentation="Id of subtitle that is similar to this one" ann:displaypriority="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute name="SimilarId" type="xs:int"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="Evidence" minOccurs="0" maxOccurs="unbounded" ann:documentation="One or two lines from the subtitle text that contain evidence as to its copyright/origins/creation">
                                                            <xs:complexType>
                                                                <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                        <xs:attribute name="EvidenceId" type="xs:int"/>
                                                                    </xs:extension>
                                                                </xs:simpleContent>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                                    <xs:attribute name="link" type="xs:string"/>
                                                    <xs:attribute name="status" type="xs:string"/>
                                                    <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1454489235464"/>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Statistics" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="nWords" type="xs:int" minOccurs="1" maxOccurs="1" ann:documentation="The number of words (excluding punctuation) " ann:displaypriority="1"/>
                                                        <xs:element name="nSentences" type="xs:int" minOccurs="1" maxOccurs="1" ann:documentation="Number of sentences"/>
                                                    </xs:sequence>
                                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                                    <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1454489235459"/>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="License" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="LicenseCode" type="xs:string" minOccurs="1" maxOccurs="1" ann:documentation="code ascribed to license" ann:displaypriority="1"/>
                                                        <xs:element name="LicenseType" dcr:datcat="http://hdl.handle.net/11459/CCR_C-3800_12a79edd-0ffe-8d82-9831-45d125c54aee" type="xs:string" minOccurs="1" maxOccurs="1" ann:displaypriority="1"/>
                                                        <xs:element name="LicenseDetails" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2457_45bbaa1a-7002-2ecd-ab9d-57a189f694a6" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="LicenseDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                    </xs:sequence>
                                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                                    <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1328259700915"/>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Author" minOccurs="1" maxOccurs="1" dcr:datcat="http://hdl.handle.net/11459/CCR_C-4115_5da7f288-5384-5aaf-8d8e-fe4348165786">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Name" dcr:datcat="http://hdl.handle.net/11459/CCR_C-6122_bfcb3f6b-467f-f95e-91b3-d0925530d8e7" type="xs:string" minOccurs="1" maxOccurs="1" ann:displaypriority="1"/>
                                                    <xs:element name="Pseudonym" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2957_877cc159-3d88-5fb7-b6ad-0b60d1546bb6" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="UserID" type="xs:string" minOccurs="0" maxOccurs="1" ann:documentation="Identifier of the user within e.g. opensubtitles.org"/>
                                                    <xs:element name="UserClass" type="xs:string" minOccurs="0" maxOccurs="1" ann:documentation="How professional is this subtitle author?"/>
                                                    <xs:element name="Sex" dcr:datcat="http://hdl.handle.net/11459/CCR_C-6503_2c65ee0b-93e8-bd6a-cb6f-58ae67108b30" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="Age" dcr:datcat="http://hdl.handle.net/11459/CCR_C-3660_2a416158-a3e9-82ff-d3e9-ac5afed7f7c6" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="MotherTongue" dcr:datcat="http://hdl.handle.net/11459/CCR_C-3286_c2f2fcb2-26bd-389a-4fd0-a4e54111ccd4" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="ResidencePlace" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="countryCode" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2092_36cd7ca8-e412-9f29-7ea7-4a3ba4ba2c91" type="xs:string"/>
                                                                    <xs:attribute name="Town" type="xs:string"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="ref" type="xs:IDREFS"/>
                                                <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1454489235453"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                    <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1454489235457"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>
</xs:sequence>
<xs:attribute name="CMDVersion" fixed="1.1" use="required"/>
<xs:anyAttribute namespace="##other" processContents="lax"/>
</xs:complexType>
</xs:element>
</xs:schema>

